h1{
    text-align: center;
    font-size: 48px;
    font-weight: 200;
}

h4 {
    text-align: center;
    font-size: 24px;
    font-weight: 200;
  }
  
  .container {
    text-align: center;
  }
  
  button {
    padding: 5px;
    margin: 16px;
    cursor: pointer;
    font-size: 16px;
    background-color: #247BA0;
    color: white;
  }
